/*RESET some leaftlet properties*/
#sidebar {
  width: 25%;
  height: 100%;
  float: left;
}

#new-location {
  margin: 10% 20%;
}

#play {
  display: block;
  width: 100%;
}

#location-button {
  margin: 5 5 5 5;
  width: 100%;
}

.sugestions {
  margin: 10 10 10 10;
}

#map {
  width: 75%;
  height: 100%;
}

.game {
  height: 568px;
  width: 320px;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*.leaflet-left { transition: left 0s !important; }*/
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

ul {
    list-style-type: none;
}

li {
  margin: 5 5 5 5;
}

* { box-sizing: border-box; }

.leaflet-control-geosearch {
  width: 100%;
  height: auto;
  margin: 5%;
  max-width: 285px;
}

.leaflet-control-geosearch input {
  margin: 10%;
}

.leaflet-control-geosearch ul {
  z-index: -1 !important;
}

.leaflet-control-geosearch li {
  z-index: -1 !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  padding-left: 0;
}

.menu .item {
  cursor: pointer;
}